# Ignore everything
*

# Allow files and directories
!/**/*.mp4
!/**/*.mov
!/converter.py
!/requirements.txt

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db